html{
    height: 100%;
}

body {
    background-color: rgb(184, 204, 199);
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    background-color: rgb(244, 167, 167);
    color: rgb(233, 233, 233);
}

div {
    border: solid blue 2px;
}

.game-board {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    background-color: green;
}

.row-one {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex: 1 1 0px;
    min-width: 0px;
}

.row-one-left {
    display: flex;
    gap: 5px;
}

.row-one-right {
    display: flex;
    gap: 5px;
}

.row-two {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex: 1 1 0px;
    min-width: 0px;
}

.card-stack-area{
    width: 100px;
    height: 180px;
    border-radius: 6px;
    background-color:rgb(244, 244, 244);
    color: red;
}
